@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --fonte-Titulo:"Roboto", sans-serif;
    --fonte-Texto:"Montserrat", sans-serif;
    --cor1: #0a0908ff;
    --cor2: #22333bff;
    --cor3: #eae0d5ff;
    --cor4: #c6ac8fff;
    --cor5: #5e503fff;
    --cor6: #f1f1f1;
    --cor7: #0000;
}

body{
    background-color: var(--cor4);
    font-family: var(--fonte-Texto);
}
header, footer{
    background-color:var(--cor2);
    padding: 2em;
    color: var(--cor6);
    text-align: center;
    font-family: var(--fonte-Titulo);
    font-size: 1.5em;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    text-decoration: nome;
    color: var(--cor2);
}